.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: var(--sky-950); 
  align-items: center;
  font-weight: 750;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: var(--sky-50);
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.link:hover,
.link.active {
  transform: translateY(-2px);
  color: var(--sky-100);
}
.badge {
  position: absolute;
  top: -10px;
  right: -20px;
  background-color: #ef4444;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
}
.logo{
  color: var(--sky-100)
}