.container { 
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  
}
.title {
  text-align: center;
  padding: 15px;
  margin: 0px;
  gap: 16px;
  font-size:30px;
  font-weight: 800;
}

.controls {
  display: flexbox;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
}